.nav-item .active{
    color: #00d16f !important;
  }
  .nav-item .active span{
    font-weight: bold !important;
  }
  footer .container .row .col-12:nth-child(1) .active , footer .container .row .col-12:nth-child(1) .active:hover{
    color: #00d16f !important;
  }

  .footer_iconbar{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
  .all-btn {
    position: absolute;
    top: 35%;
    right: 2% !important;
    z-index: 100000 !important;
    width: auto !important;
    height: auto !important;
    background: none;
    padding: 0px !important;
    transform: scale(0.75) !important;
  }
  @media screen and (max-width:700px) {
    .logo2{
      position: relative;
      z-index: 100000;
    }
  }