@font-face {
  font-family: roboto;
  src: url("../font/IRANSansWeb\(FaNum\)_Light.ttf");
}
* {
  margin: 0;
  font-family: roboto;
  user-select: none;
}
body {
  max-width: 1700px !important;
}
header {
  top: 0 !important;
  right: 0 !important;
  z-index: 10;
}
.offcanvas-header {
  height: 70px;
  padding-bottom: 50px !important;
  position: relative;
}
.offcanvas-body ul {
  padding-right: 10px !important;
}
.all-btn {
  position: absolute;
  top: 35%;
  right: -10px !important;
  z-index: 100000 !important;
  width: 300px !important;
  height: 20px;
  background: none;
  padding: 0px !important;
  transform: scale(0.75) !important;
}
.menu-btn-1 {
  height: 32px;
  width: 40px;
  cursor: pointer;
  position: relative;
}
.menu-btn-1 span {
  transform: scale(0.7);
}
.menu-btn-1 span,
.menu-btn-1 span::before,
.menu-btn-1 span::after {
  background: rgb(0, 0, 0);
  border-radius: 1px;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  right: 0px;
  margin-top: 13px;
  transition: 0.3s ease-in-out;
}
.menu-btn-1 span::before {
  margin-top: -12px;
}

.menu-btn-1 span::after {
  margin-top: 12px;
}
.menu-btn-1.active span {
  background: transparent;
}
.menu-btn-1.active span::before {
  margin-top: 0;
  transform: rotate(45deg);
}
.menu-btn-1.active span::after {
  margin-top: 0;
  transform: rotate(-45deg);
}
.navbar {
  padding: 10px 0px !important;
}
.nav-item .nav-link {
  font-size: 98%;
  color: #3f3f3f;
}
.span_in_ofcanvas {
  text-decoration: none;
  color: #00d16f;
  font-size: 13px;
}
.accordion-button:focus {
  background-color: #fff;
}
.accordion-button {
  color: #00d16f !important;
  font-weight: bold;
  background-color: #fff !important;
  transition: 0.2s;
}
.accordion-button::after {
  display: none !important;
}
.bi-chevron-down {
  font-size: 20px !important;
  font-weight: bold;
}
.snapp-pwa {
  width: 23px;
  height: 23px;
}
.collapse-link,
.collapse-link:hover {
  color: black;
  text-decoration: none;
}
/* main */
footer {
  padding: 50px 90px !important;
  background: #fff;
}
footer .container .row .col-12:nth-child(1) a,
footer .container .row .col-12:nth-child(1) a:hover {
  color: rgb(64, 64, 64) !important;
  text-decoration: none;
  font-size: 100%;
  margin: 10px 8px;
}
footer .container .row .col-12:nth-child(2) a,
footer .container .row .col-12:nth-child(2) a:hover {
  color: rgb(64, 64, 64) !important;
  text-decoration: none;
  font-size: 100%;
  margin: 10px;
}
footer .container .row .col-12:nth-child(3) a,
footer .container .row .col-12:nth-child(3) a:hover {
  color: rgb(64, 64, 64) !important;
  text-decoration: none;
  font-size: 100%;
  margin-top: 20px !important;
}
.footer_iconbar a {
  margin: 10px 7px !important;
}
.footer_iconbar a i {
  color: rgb(64, 64, 64);
  font-size: 25px;
}
/* mobile */
@media screen and (max-width: 700px) {
  .navbar {
    padding: 2px 0px !important;
  }
  .nav-link {
    margin-top: 15px;
  }
  .accordion-body span {
    width: 100% !important;
    justify-content: flex-start !important;
  }
  .accordion-body span a {
    width: 100% !important;
  }
  footer {
    padding: 50px 0px !important;
  }
}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .navbar {
    padding: 5px 0px !important;
  }
  .accordion-body span {
    width: 100% !important;
    justify-content: flex-start !important;
  }
  .accordion-body span a {
    width: 100% !important;
  }
}

/* ipad */
@media screen and (min-width: 750px) and (max-width: 1000px) {
  .accordion-body span {
    width: 100% !important;
    justify-content: flex-start !important;
  }
  .accordion-body span a {
    width: 100% !important;
  }
}

@media screen and (min-width: 750px) and (max-width: 1400px) and (orientation: landscape) {
  .accordion-body span {
    width: 100% !important;
    justify-content: flex-start !important;
  }
  .accordion-body span a {
    width: 100% !important;
  }
}
