@font-face {
  font-family: roboto;
  src: url("./font/IRANSansWeb\(FaNum\)_Light.ttf");
}
* {
  margin: 0;
  font-family: roboto;
  user-select: none;
}
.nav-item .nav-link {
  font-size: 95%;
  color: #3f3f3f;
}
header {
  top: 0 !important;
  right: 0 !important;
  z-index: 10;
}
body {
  height: 500vh;
  max-width: 1700px !important;
}
.span_in_ofcanvas {
  text-decoration: none;
  color: #00d16f;
  font-size: 13px;
}
.accordion-button:focus {
  background-color: #fff;
}
.accordion-button {
  color: #00d16f !important;
  font-weight: bold;
  background-color: #fff !important;
  transition: 0.2s;
}
.accordion-button::after {
  display: none !important;
}
.bi-chevron-down {
  font-size: 20px !important;
  font-weight: bold;
}
.snapp-pwa {
  width: 23px;
  height: 23px;
}
.collapse-link,
.collapse-link:hover {
  color: black;
  text-decoration: none;
}
main {
  position: relative !important;
  top: 0px !important;
}
.boldpheader_section2 {
  font-size: 36px !important;
  font-weight: bold;
  text-align: justify;
  line-height: 55px;
}
.paragraph_section2 {
  font-size: 19px !important;
  text-align: justify;
  margin: 25px 0px 25px 0px;
}
.phone_numberd_box_section2 {
  align-self: center;
}
.phone_numberd_box_section2 a {
  color: #00d16f;
  background-color: #fff;
  text-decoration: none;
  padding: 10px 25px 10px 25px;
  border-radius: 6px;
  font-weight: bold !important;
  font-size: 14px;
  align-self: flex-start;
}
.phone_numberd_box_section2 a:hover {
  color: #00d16f;
}
.phone_textbox {
  border-bottom: 1px solid rgba(255, 255, 255, 70%);
  padding: 8px;
}
.phone_textbox input {
  background: none;
  border-style: none;
  outline-style: none;
  color: #fff;
  font-size: 14px;
}
.manimage {
  width: 100%;
  background-image: url("https://web-cdn.snapp.ir/snapp-website/images/homepage/intro_desktop.jpg");
  background-position: right center;
  background-size: cover;
  min-height: 40vh !important;
}
.phone_textbox input::placeholder {
  color: rgba(255, 255, 255, 75%) !important;
}
.phone_textbox i {
  font-size: 12px;
}
.bi-x-circle-fill {
  font-size: 12px !important;
  display: none;
  color: black !important;
  cursor: pointer;
}
.gotoapp {
  color: #00d16f;
  text-decoration: none;
  padding: 10px 25px 10px 25px;
  border-radius: 6px;
  font-weight: bold !important;
  font-size: 14px;
  align-self: flex-start;
  background: none !important;
  color: #fff !important;
  border: 1px solid #fff !important;
  text-align: center;
  width: 100%;
  transition: 0.2s;
}
.gotoapp:hover {
  background-color: rgba(255, 255, 255, 10%) !important;
}
.gotoapp2 {
  background-color: #fff !important;
  color: black !important;
  font-size: 12px !important;
}
.gotoapp2:hover {
  background-color: #f1f1f1 !important;
}
.paragraph_box {
  background-color: #21aa58 !important;
  color: #fff;
  padding-right: 100px !important;
  padding-left: 24px !important;
}
.section3 {
  padding: 60px !important;
}
.section3 a {
  width: 20% !important;
  margin: 0px 20px !important;
}
.section3 a img {
  width: 100% !important;
}
.section4_header {
  font-weight: bold;
  text-align: center;
}
.section4 {
  background-color: #f2f5f8 !important;
  padding: 35px 0px 45px 0px;
}
.section4 .container {
  width: 80% !important;
}
.section4 .row .col-4 a {
  text-decoration: none !important;
  background-color: #fff;
  border-radius: 18px !important;
}
.section4 .row .col-4 a h6 {
  color: black;
  font-weight: bold;
}
.section4 .row .col-4 a p {
  color: #a3a3a3 !important;
  text-align: right !important;
  font-size: 14px !important;
  margin: 0px !important;
}
.cover {
  display: none;
}
.seemorebtn {
  display: none;
}
.carousel-inner {
  border-radius: 9px !important;
}
.section5 {
  padding: 60px !important;
}
.carousel-indicators {
  height: 20px !important;
  position: absolute !important;
  bottom: -10px !important;
  z-index: 1 !important;
}
.carousel-indicators .aaa {
  display: inline-block;
  padding: 0px 4px !important;
  height: 20px !important;
  background-color: rgba(0, 0, 0, 18%) !important;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-indicators button {
  width: 9px !important;
  height: 9px !important;
  border-radius: 50% !important;
  margin: 0 3px !important;
  transition: opacity 0.3s ease !important;
}
.carousel-item {
  transition: transform 0.15s ease-in-out !important;
}
.answer_allbox{
  background-image: url('	https://web-cdn.snapp.ir/snapp-website/images/homepage/super-app.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
}
.answer_allbox_paragraph{
padding: 35px 35px 0px 80px !important;
}
.answer_allbox_paragraph p{
  margin-top: 35px !important;
  color: rgba(0, 0, 0, 80%);
  font-size: 15px !important;
}
.section6{
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: space-between;
}
.cardbox{
  width: 240px !important;
}
.section6 .card{
  border-style: none !important;
  background:none !important;
}
.section6 .card h5{
  font-weight:bold;
}
.section6 .card p{
  font-size: 12px !important;
  color: rgba(0, 0, 0, 80%);
}
.image_cardbox{
  width: 100%;
  background-color: #f2f5f8;
  border-radius: 18px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section6 img{
width: auto;
height: auto;
padding: 10px;
width: 210px;
height: 190px;
/* align-self: center; */
}
.cardsection{
  bottom: 100px !important;
}



/* mobile */
@media screen and (max-width: 700px) {
  .manimage {
    background-position: center;
  }
  .boldpheader_section2 {
    font-size: 28px !important;
    word-spacing: 0px !important;
  }
  .paragraph_section2 {
    font-size: 19px !important;
    margin: 5px 0px !important;
  }
  .paragraph_box {
    padding: 20px !important;
  }
  .section4 .row .col-4 a {
    flex-direction: column !important;
    padding: 8px 7px 0px 7px !important;
    width: 100% !important;
    border-radius: 25px !important;
    margin: 0px !important;
  }
  .section4 .row .col-4 a div {
    margin: 5px 0px;
  }
  .section4 .row .col-4 a p {
    display: none !important;
  }
  .section4 .row .col-4 a div h6 {
    text-align: center !important;
    margin: 8px 0px 8px 0px !important;
  }
  .section4 .row .col-4 a img {
    margin: 0px !important;
  }
  .section4 {
    transition: 1s;
    height: 94vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .section4 .container {
    width: 100% !important;
  }
  .cover {
    display: block;
    width: 100% !important;
    height: 200px !important;
    position: absolute !important;
    bottom: 0px !important;
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 94%),
      rgba(255, 255, 255, 45%),
      rgba(255, 255, 255, 10%)
    );
  }
  .seemorebtn {
    width: 100px;
    height: 46px;
    display: block;
    position: absolute;
    z-index: 2 !important;
    bottom: 20px !important;
    padding: 0px 12px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid rgb(0, 209, 112);
    color: rgb(0, 209, 112);
    transform: scale(1.15);
  }
  .section5 {
    padding: 30px !important;
  }
  .carousel-inner {
    transform: scaleY(135%) !important;
  }
  .carousel-indicators {
    bottom: -25px !important;
  }
  .manimage {
    height: 70vh !important;
  }
  .answer_allbox{
    min-height: 40vh;
  }
  .answer_allbox_paragraph{
    padding: 15px !important;
  }
  .answer_allbox_paragraph h3{
    font-size: 22px !important;
    margin-top: 15px;
  }
  .answer_allbox_paragraph p{
    margin-top: 20px !important;
    font-size: 17px !important;
    text-align: justify;
  }
  .cardsection{
    flex-direction: column;
    align-items: center !important;
    bottom: 0px !important;
    padding: 0px 10px !important;
  }
  .cardbox{
    width: 100% !important;
    margin: 0px !important;
  }
}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .paragraph_box {
    padding: 20px !important;
  }
  .paragraph_box a {
    font-size: 17px !important;
  }
  .manimage {
    min-height: 90vh;
    background-position: center;
  }
  .section4 .container {
    width: 100% !important;
  }
  .section4 .row .col-4 a {
    width: 95%;
    height: 100px;
    padding: 8px !important;
    flex-direction: column !important;
    justify-content: center;
    border-radius: 25px !important;
  }
  .section4 .row .col-4 a img {
    transform: scale(0.85);
  }
  .section4 .row .col-4 a div h6 {
    padding-bottom: 8px !important;
    font-size: 14px !important;
  }
  .section4 .row .col-4 a p {
    display: none !important;
  }
  .section4 .row .col-4 a {
    flex-direction: column !important;
    padding: 10px 20px 0px 20px !important ;
  }
  .section4 .row .col-4 a div h6 {
    margin: 8px 0px 8px 0px;
  }
  .section4 {
    transition: 1s !important;
    height: 210vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .section4 .row .col-4 a img {
    margin: 0px !important;
  }
  .cover {
    display: block;
    width: 100% !important;
    height: 230px !important;
    position: absolute !important;
    bottom: 0px !important;
    margin: 0px !important;
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 97%),
      rgba(255, 255, 255, 90%),
      rgba(255, 255, 255, 45%),
      rgba(255, 255, 255, 10%)
    );
  }
  .seemorebtn {
    width: 100px;
    height: 46px;
    display: block;
    position: absolute;
    font-weight: bold;
    bottom: 30px !important;
    padding: 0px 12px !important;
    font-size: 14px !important;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid rgb(0, 209, 112);
    color: rgb(0, 209, 112);
    transform: scale(1.15) !important;
  }
  .carousel-inner {
    transform: scale(100%) !important;
  }
  .carousel-indicators {
    bottom: -5px !important;
  }
  .manimage {
    height: 90vh !important;
  }
  .answer_allbox{
    min-height: 40vh;
    background-position: center !important;
  }
  .answer_allbox_paragraph{
    padding: 15px !important;
  }
  .answer_allbox_paragraph h3{
    font-size: 22px !important;
    margin-top: 15px;
  }
  .answer_allbox_paragraph p{
    margin-top: 20px !important;
    font-size: 17px !important;
    text-align: justify;
  }
  .cardsection{
    flex-direction: column;
    align-items: center !important;
    bottom: 0px !important;
    padding: 0px 10px !important;
  }
  .cardbox{
    width: 100% !important;
    margin: 0px !important;
  }
}

/* ipad */
@media screen and (min-width: 750px) and (max-width: 1100px) {
  .paragraph_box {
    padding: 30px !important;
  }
  .section4 .container {
    margin: 0px 15px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .section4 .row .col-4 a {
    padding: 10px !important;
  }
  .section4 .row .col-4 a img {
    padding: 4px !important;
    transform: scale(0.9) !important;
  }
  .section5 {
    padding: 20px !important;
  }
  .cardsection{
    bottom: 0px !important;
  }
}
/* 
@media screen and (min-width: 750px) and (max-width: 900px) and (orientation:landscape){
  body{
    display: none;
  }
} */